

// --------------------------------------------------------------------------
// SECTIONS
// --------------------------------------------------------------------------


.Section {
    margin: 0 0 $space * 2 0;
    padding-top: $space * 3;
    @include respond-to(xs) { margin-bottom: $space * 3; }
}

.Section#who {
    background-color: lighten($color-brand-alt,15%);
    border-bottom: rem(5) solid $color-text;
    border-top: rem(5) solid $color-text;
    margin-bottom: 0;
    padding: $space * 2.5 0;
    position: relative;

    > .Section-item {
        margin-bottom: 0;
    }

    .Who-directive {
        position: absolute;
        bottom: rem(-27);
        text-align: center;
        width: 100%;
    }
}

.Section-item {
    margin-bottom: $space * 2;
    position: relative;

    @include respond-to(xs) {
        margin-bottom: $space * 3;
    }

    //&:not(:last-child) {
    //    margin-bottom: $space * 2;
    //    @include respond-to(xs) { margin-bottom: $space * 3; }
    //}

    &--icon {
        transform: translateY(-10px);
        margin: 0;

        @include respond-to(xs) {
            transform: translateY(-20px);
        }

        @include respond-to(md) {
            margin-left: $space * 1.75;
        }
    }

    //&:before {
    //    background-position: 50%;
    //    background-repeat: no-repeat;
    //    background-size: contain;
    //    content: " ";
    //    display: block;
    //    height: rem(120);
    //    left: rem(-160);
    //    position: absolute;
    //    top: -($space / 3);
    //    width: rem(167);
    //
    //    @include respond-to(xs) {
    //        height: rem(173);
    //        left: rem(-191);
    //        width: rem(167);
    //    }
    //}
}

//.Section-item--advice:before      { background-image: url(/build/images/icon_advice.png); }
//.Section-item--saving:before      { background-image: url(/build/images/icon_saving.png); }
//.Section-item--sustainable:before { background-image: url(/build/images/icon_sustainable.png); }


.Section-intro {
    font-family: $font-text-bold;

    span { font-family: $font-text-bold-i; }

    em.Author {
        @include remFallback($sizeQuote);
        font-family: $font-text-bold;
        text-transform: uppercase;
    }
}

.Section-directive {
    margin: $space * 3 auto;
    position: relative;
    text-align: center;

    &:before {
        background-color: $color-text;
        content: "";
        display: block;
        height: rem(5);
        position: absolute;
        top: calc(50% - #{(rem(5) * 0.5)});
        width: 100%;
    }

    &.Section-directive--light {
        margin: $space*2 0 ($space * 1.5) !important;

        &:before {
            height: rem(1);
            top: calc(50% - #{(rem(1) * 0.5)});
        }
    }
}

.Section-signoff {
    @include remFallback($sizeQuote);
    border-top: 1px solid $color-grey-rule;
    margin-top: $space;
    margin-bottom: $space * 0.25;
    padding-top: $space * 0.4;
}



// Specials for icon/text block rhythm and widths
// --------------------------------------------------------------------------

.Block-icon {
    img {
        height: 130px;
        margin: 0 auto;
    }

    @include respond-to(xs) {
        flex-basis: auto;
        margin-left: 8.333333333333332%; // 1of12
        width: 25%; // 3of12

        img {
            height: auto;
            margin: 0;
        }
    }

    //@include even() {
    //    margin-left: 0;
    //    @include respond-to(xs) { margin-left: 8.333333333333332%; } // 1of12
    //    @include respond-to(md) { margin-left: 0; }
    //}

    &--alt {
        margin-left: 0;
        @include respond-to(xs) { margin-left: 8.333333333333332%; } // 1of12
        @include respond-to(md) { margin-left: 0; }
    }
}

.Block-text {
    //width: 75%; // 9of12
    @include respond-to(xs) { flex-basis: auto; width: 75%; } // 9of12
    @include respond-to(xs) { flex-basis: auto; width: 58.333333333333336%; } // 7of12
}




// Case study media objects
// --------------------------------------------------------------------------

//.ImageDuo {
//    font-size: 0;
//    margin: $space 0;
//
//    img {
//        display: inline-block;
//        width: 50%;
//    }
//}

.Case {
    border-radius: 6px;
    padding: $space * 0.9 $space $space;

    &--green { background-color: rgba($color-green, 0.4); }
    &--blue { background-color: rgba($color-blue, 0.4); }
    &--purple { background-color: rgba($color-purple, 0.4); }
}

.Case h3 {
    margin-bottom: $space * 0.35;
}

.Case--blue .Media-body {
    @include respond-to(md) { flex: 0.5; }
}

.Figure {
    margin: $space 0 0;
}

.Figure--case {
    @include TextSm();
    border-top: 1px solid rgba($color-text, 0.5);
    border-bottom: 1px solid rgba($color-text, 0.5);
    line-height: 1.25;
    margin: 0 0 $space * 0.75 0;
    padding: $space * 1.5 $space $space 0;

    @include respond-to(sm) {
        padding: $space * 1.5 $space $space;
    }
}

.Figure--case .Media-figure {
    @include remFallback($base-font-size-unit * 3);
    color: $color-text;
    font-family: $sans-light;
    letter-spacing: 0.05em;
    line-height: 0.5;
    margin: 15px 9px 0 0;

    @include respond-to(xs) { @include remFallback($base-font-size-unit * 4); }
    @include respond-to(sm) { margin-top: 11px; }
}

// When a .Grid gets inbetween
.Figure--case .Grid {
    .Media { margin-bottom: 0; }
    .Media-body { @include TextSm(); margin-bottom: 0; }
}


span.u-sm-lineBreak {
    display: table;
    margin: auto;
    @include respond-to(sm) { display: inline; }
}
