<footer class="Footer">
	<div class="Container">
		<nav class="Footer-nav">

			<div class="Grid">
				<div class="Grid-cell u-xs-size1of2 u-marginBD1">
					<div class="Footer-logo">
						<a href="/"><img src="/build/images/gravitas-logo-grey.svg" alt="{{ site.title }}"></a>
					</div>
				</div>

				<div class="Grid-cell u-xs-size1of2">
					<div class="Footer-meta">
						<div class="Grid Grid--fit">
							<div class="Grid-cell u-xs-size1of2 ">
								<ul class="Footer-menu">
                                    {% include nav.html %}
								</ul>
							</div>
							<div class="Grid-cell u-xs-size1of2">
								<!-- <p class="Footer-contact"><a class="u-linkInvisible" href="tel:+610-402-318-973">Call 04XX XXX XXX</a></p> -->
								<p class="Footer-location"><a class="u-linkInvisible" href="https://goo.gl/maps/tBTjvxDpVcu">262 Argyle St,<br>North Hobart, Tasmania 7000</a></p>
							</div>
							<div class="Grid-cell u-xs-size1of2">
								<p class="Footer-contact"><a class="u-linkInvisible" href="tel:+610-402-318-973">Call 0402 318 973</a></p>
								<p class="Footer-location"><a class="u-linkInvisible" href="https://goo.gl/maps/Ws9dQvDeqXr">Unit 6, 1 Graham Road<br>Clayton South, Victoria 3169</a></p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</nav>
	</div>
</footer>
