<div id="contact">
    <div class="Container">
        <p class="Section-directive Section-directive--light"><button class="Button Button--transparent">Get Started</button></p>
        <div class="u-xs-size7of12 u-size11of12 Grid-cell--center">
            <p>Get an estimate of how much your business could save:</p>
            <form accept-charset="UTF-8" action="https://formkeep.com/f/5da64bddc2c9" method="POST">
                <!-- <label for="fieldEmail">Email</label> -->
                <input type="hidden" name="utf8" value="✓">
                <input name="name" type="name" required="required" placeholder="Name*"/>
                <input name="email" type="email" required="required" placeholder="Email*"/>
                <input name="telephone" type="telephone" required="required" placeholder="Telephone*"/>
                <input name="url" type="url" placeholder="Website"/>
                <div class="Select-styled">
                    <select name="business-type" type="type" placeholder="Business type">
                        <option label="Business type" selected disabled>
                        <option value="small">Small / medium enterprises</option>
                        <option value="large">Large commercial / industrial organisations</option>
                        <option value="base">Base-load utility scale</option>
                        <option value="special">Community and special projects</option>
                    </select>
                </div>
                <textarea name="message" type="message" rows="4" placeholder="Describe your business' energy goals"></textarea>
                <!-- <input id="" name="" type="file" name="pic" accept="file_extension|media_type"> -->
                <p class="u-textCenter">
                    <button type="submit" value="submit" role="button" class="Button Button--lg u-marginT">Submit<i class="Arrow-right"></i></button>
                </p>

                <p class="u-textCenter u-textSm u-marginTX15"><em>Don’t like forms? You can <a href="mailto:info@gravitasenergy.com.au">email us</a> instead, or call us on 0402 318 973.</em></p>
            </form>

        </div>
    </div>
</div>
